[project]
	description = OpenStack + MidoNet development environment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Noboru Iwamatsu (r0ckpine)
[access "refs/for/refs/*"]
	read = group user/Noboru Iwamatsu (r0ckpine)
	push = group user/Noboru Iwamatsu (r0ckpine)
	label-Code-Review = -2..+2 group user/Noboru Iwamatsu (r0ckpine)
	label-Verified = -1..+1 group user/Noboru Iwamatsu (r0ckpine)
	rebase = group user/Noboru Iwamatsu (r0ckpine)
	removeReviewer = group user/Noboru Iwamatsu (r0ckpine)
	submit = group user/Noboru Iwamatsu (r0ckpine)
[access "refs/heads/*"]
	read = group user/Noboru Iwamatsu (r0ckpine)
	create = group user/Noboru Iwamatsu (r0ckpine)
	push = +force group user/Noboru Iwamatsu (r0ckpine)
	pushMerge = group user/Noboru Iwamatsu (r0ckpine)
[access "refs/tags/*"]
	push = +force group user/Noboru Iwamatsu (r0ckpine)
	pushTag = group user/Noboru Iwamatsu (r0ckpine)
	pushSignedTag = group user/Noboru Iwamatsu (r0ckpine)
